# Ignorer les séquences
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam

# Ignorer les dossiers de données lourdes 
#data/raw/illumina/
#data/raw/pacbio/
#data/raw/Nanopore.reads/
#data/raw/transcriptome/

# Ignorer les résultats temporaires de Canu
results/assemblage_canu/efaecium.seqStore/
results/assemblage_canu/correction/
results/assemblage_canu/trimming/
results/assemblage_canu/unitigging/
results/assemblage_canu/canu-scripts/

# Ignorer les archives non nécessaires
*.zip
*.tar.gz

# Système
.DS_Store
Thumbs.db

# Alignement et Indexation 

# Ignorer les fichiers d'alignement intermédiaires non compressés
*.sam
*.bai

# Ignorer les index de Bowtie2 (Fichiers binaires lourds)
*.bt2

# Ignorer les index BWA 
*.amb
*.ann
*.bwt
*.pac
*.sa

# Résultats Prokka et Logs

# Je garde les .gff et .gbk, mais j'ignore les logs d'erreurs
*.log
*.err
*.out

# Ignorer les dossiers temporaires de Prokka 
fixed_fasta/
